.webpage_title {
    text-align: center;
}

button {
    transition: background-color 1s;
    transition: color 3s;
}

button :hover {
    background-color: black;
    color: white;
}

footer {
    padding: auto;
}