.webpage_title {
    text-align: center;
}

.link {
    color: #fff;
  font-size: 16px;
  font-weight: bold;
  background: #333;
  padding: 18px 30px;
  border-radius: 6px;
  transition: .3s;
}

.link:hover {
    background: #13c3ac;
}

footer {
    padding: auto;
}