body {
    color: #ffffff;
    background-color: #000000;
}

.webpage_title {
    text-align: center;
}
h1 {
    color: blue;
}

.link {
    display: inline;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    background: #ffffff;
    padding: 18px 30px;
    border-radius: 6px;
    transition: .3s;
}

.link:hover {
    background: #ffff55;
}

a {
    color: white;
    transition: .3s;
}

a:hover {
    color: black;
}

footer {
    padding: auto;
}